<div class="page-header">
  <h3>Pile #<%= @pile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @pile.user_id %></dd>

      <dt>Vocab</dt>
      <dd><%= @pile.vocab %></dd>

      <dt>Vocab w</dt>
      <dd><%= @pile.vocab_w %></dd>

      <dt>Vocab l</dt>
      <dd><%= @pile.vocab_l %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/piles" class="btn btn-primary">
        Back
      </a>
      <a href="/piles/<%= @pile.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pile/<%= @pile.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
