<!-- Validation failure messages -->
<% if @lesson.errors.any? %>
  <% @lesson.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Module Name</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_lesson/<%= @lesson.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @lesson.name %>">
      </div>

      <!-- Label and input for owner_id -->
      <div class="form-group">

        <input type="hidden" id="owner_id" name="owner_id" placeholder="owner_id" class="form-control" value="<%= @lesson.owner_id %>">
      </div>

      <button class="btn btn-warning">
        Update Module
      </button>
      or
      <a href="/modules/<%= @lesson.id %>">Cancel</a>
    </form>
  </div>
</div>
